<div class="view">
    <div class="graphCont">
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
        </canvas>
    </div>
    <div>
        <button ng-click="clearGraph()" class="btn">Clear</button>
    </div>
    <div class="row">
        <ul ng-model="displayInGraph" ng-repeat="session in sessions">
            <li class="dataList col-xs-4">
                <button ng-click="showThis(session.id)" class="dataCard">
            <p><strong>Session name: </strong> {{ session.name }}</p>
            <p><strong>Deck Studied: </strong> {{ session.deckName}}</p>
            <p><strong>Time spend Studying: </strong> {{ session.duration}}</p>
            <p><strong>Start Time: </strong> {{ session.localTime}}</p>
            <p><strong>Date studied: </strong> {{ session.postDate}}</p>
            <div class = "cardStat" ng-repeat=" result in session.results">
                <div class ="cardDisp"><strong>{{ result.keyword }}</strong> {{ result.percentage}}%</div>
            </button>
            </li>
        </ul>
    </div>
</div>