<div class="view">
    <!--<div class="row">
        <div class="col-xs-6">
            <labels>Deck ID</labels>
            <input ng-model="thisDeckId" placeholder="ThisDeckId" type="number" />
        </div>
        <div class="col-xs-6">
            <labels>ID</labels>            
            <input ng-model="id" placeholder="id" type="number" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <labels>Duration</labels>            
            <input ng-model="duration" placeholder="Duration" type="text" />
        </div>
         <div class="col-xs-3">
            <labels>correct</labels>            
            <input ng-model="correct" placeholder="correct" type="number" />
        </div>
          <div class="col-xs-3">
            <labels>wrong</labels>            
            <input ng-model="wrong" placeholder="wrong" type="number" />
        </div>
        <div class="col-xs-3">
            <button class="btn btn-danger" ng-click="updateDuration()">updateDuration</button>
        </div>
    </div>
      <div class="row">
        <div class="col-xs-6">
            <labels>Deck ID</labels>
            <input ng-model="deckId" placeholder="DeckId" type="text" />
        </div>
        <div class="col-xs-6">
            <labels>Deck Name</labels>            
            <input ng-model="deckName" placeholder="DeckName" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <labels>Session Name</labels>            
            <input ng-model="name" placeholder="Name" type="text" />
        </div>
        <div class="col-xs-6">
            <button class="btn btn-success" ng-click="postSession();">Post</button>
        </div>
    </div>-->
    <div class="graphCont">
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
        </canvas>
    </div>
    <div ng-repeat="session in sessions">
        <div class="dataCard">
            <h4>Session name: {{ session.name }}</h4>
            <h4>Deck Studied: {{ session.deckName}}</h4>
            <h4>Time studied: {{ session.localTime}}</h4>
            <h4>Date studied: {{ session.postDate}}</h4>
            <div ng-repeat=" result in session.results">
                <div>{{ result.keyword }}</div>
            </div>
        </div>

    </div>
</div>