<div class="homePage">
    <section class="playerMargin">
        <div class="col-container">
            <div class="userTextBox">
                <div class="usersTitle">
                    <h1 class="textMargin">{{ bannerHeader }}</h1>
                    <h2 class="textMargin userText">{{ bannerMessage }}</h2>
                </div>
            </div>
            <div class="userForm">
                <div class="form-card">
                    <p class="userBanner">Start A New Account</p>
                    <form>
                        <fieldset class="formHeight">
                            <div class="marginForm col-container">
                                <div>
                                    <label>First Name</label>
                                    <input type="text" class="form-control" placeholder="First Name" ng-model="user.firstName" />
                                    <div ng-if="pleaseEnter">Please enter your firstName</div>
                                </div>
                                <div>
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastName" />
                                    <div ng-if="pleaseEnter2">Please enter your lastName</div>
                                </div>
                            </div>
                            <div class="marginForm col-container">
                                <div>
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="Email" ng-model="user.email">
                                </div>
                                <div>
                                    <label>Date of birth</label>
                                    <input type="Date" class="form-control" ng-model="user.dob ">
                                </div>
                            </div>
                            <div class=" marginForm col-container">
                                <div>
                                    <label>Age</label>
                                    <input type="text" class="form-control" placeholder="Age" ng-model="user.age">
                                </div>
                                <div>
                                    <label>Gender</label>
                                    <input type="text" class="form-control" placeholder="Gender" ng-model="user.gender ">
                                </div>

                            </div>
                            <div class=" marginForm col-container">
                                <div class="centerForm">
                                    <button name="button " type="submit " class="userbtn btn btn-primary ">
                                  <span>Sign Up Free</span>
                             </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>