<div class="view">
  <div class="">
    <div class="">
      <div class="note-section text-center" ng-class="{'col-xs-6': showCol}" style="{{noteCol}}">
        <div class="text-center noteHeader">
          <h1>Notes:</h1>
          <div ng-show="nameTheDeck">
            <input type="text" placeholder="Deck Name" class="deckNameInput" ng-model="deckName"/>
            <input type="text" placeholder="First Name" class="deckNameInput" ng-model="firstName" />
            <input type="text" placeholder="Last Name" class="deckNameInput" ng-model="lastName" />
            <button ng-click="SubmitNewNote()">Submit</button>
          </div>

          <div class="NoteInputField" ng-show="deckNamed">
            <h1>{{titleAndAuthor}}</h1>
            <h3 class="inlineDiv">When typing your notes, begin each keyword with a Back-tick(`), and end with a Tilde(~). </h3>
            <button ng-click="maximize()" class="btn btn-info hideOrShow" ng-show="hidden">Show</button>
            <textarea class="text-left" rows="15" cols={{notesCols}} ng-model="notesInput" ng-change="inputChange()"> 
            </textarea>
            <button class="inputButton" ng-click="updateNotes()">Submit</button>
          </div>
        </div>

      </div> <!-- End of note-section div (line 4  -->
      <div class="keyWord animated fadeIn" style="{{keyWord}} {{keyWordCol}}">
        <div class="text-center noteHeader">
          <h1>Keywords:</h1>
            <button ng-click="minimize()" class="btn btn-success hideOrShow">Hide</button>
        </div>
        <div class="row format">
          <div class="well keywordWell" ng-repeat="keyword in keywordArray track by $index">
            <div>
              <div class="keywordListDef">
                <h2>{{keyword}} = </h2>
                <input class="defInput" type="text" />
              </div>
              <div>
                <button class="btn defButton" ng-click="updateKeywordDefinition()">Defined</button>
                <button class="btn btn-danger defButton" ng-click="deleteKeyword(keyword.Index)">Deleted</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

